<.flash_group flash={@flash} />

<CuriousBotWeb.CuriousBotSections.nav_section />
<CuriousBotWeb.CuriousBotSections.hero_section />
<CuriousBotWeb.CuriousBotSections.wwo_section />
<CuriousBotWeb.CuriousBotSections.courses_section />
<CuriousBotWeb.CuriousBotSections.mot_section />
<CuriousBotWeb.CuriousBotSections.get_in_touch />
<CuriousBotWeb.CuriousBotSections.footer_section />
